<div class="row clearfix">
    <div class="left mobile-hide">
		<%= link_to( "PRF", root_path, :id => "logo" ) %>
    </div>
	<div class="titulo mobile-hide">
		<h3>3ª SRPRF/MS - Parte Diária Eletrônica</h3>
	</div>
	<div class="left mobile-only logo-mobile">
		<h3>PDe</h3>
	</div>

	<div class="right">

		<ul id="toolbar">
			<li><span>Olá,</span> <a class="user" href="#">VLAMIR CARBONARI</a> <a id="loginarrow" href="#"></a></li>
			<li><a id="messages" href="/home/mensagens">Mensagens</a></li>
			<li><a id="settings" href="#">Configurações</a></li>

			<li><a id="search" href="#">Pesquisar</a></li>
		</ul>

		<div id="logindrop">
			<ul>
				<li id="editprofile"><a href="#">Conta do usuário</a></li>
				<li id="logoutprofile"><a href="#">Sair</a></li>
			</ul>

		</div>
		<div id="searchdrop">
			<input type="text" id="searchbox" placeholder="Pesquisar...">
		</div>

	</div>  
</div>
