<table class="zebra mobile-only">
	<tbody>
		<tr>
			<th>Numero</th>
			<th>Data/Hora</th>
			<th>BR</th>
			<th>KM</th>
			<th></th>
		</tr>

		<tr>
			<td>278584</td>
			<td>17/10/2012 11:50h</td>
			<td class="tar">163</td>
			<td class="tar">736,5</td>
			<td title="Foram apreendidas 15 volumes de substancia analoga a maconha, que pesados totalizaram aproximadamente 31,200 quilos, que foi encontrado no bagageiro externo do Onibus da viação MOTTA - PLACAS: HSY8392, prefixo: 80268, de itinerário: Londrina x Cuiabá,tendo como proprietaria: THAIS CAROLINA FERREIRA DA SILVA – RG nº7980218-8, filiação: IVANIR FERREIRA DA SILVA – NASC. 01.10.1994. Bilhete de passagem nº473153, poltrona 13, e sua companhia:  THAIS SANTANA DA SILVA – FIL.: LUCINEIDE MARINHO SANTANA e SANDRO SÉRGIO DA SILVA – CPF.047172451.30. Ocorrência encaminhada à Delegacia de Polícia Civil de COXIM-MS."><a href="/bops/5224">Consultar</a></td>
		</tr>
		<tr>
			<td>278882</td>
			<td>17/10/2012 07:00h</td>
			<td class="tar">463</td>
			<td class="tar">68,0</td>
			<td title="Foram apreendidas 147,800 kg (cento e quarenta e sete quilogramas e oitocentos gramas) de maconha, no veículo VW/VOYAGE 1.6, 2012/2013, placas aparentes AVZ4131, sem ientificação do proprietário fugiu em uma mata próxima do km 49 da BR 463, não sendo possível localizá-lo. Ocorrência encaminhada à Delegacia de Polícia Civil/Federal em [MUNICÍPIO]. O veículo foi produto de roubo na cidade de Campinas/SP e não tinha sido emplacado no momento da ocorrência. Motor CCR P016 061."><a href="/bops/5220">Consultar</a></td>
		</tr>
		<tr>
			<td>279298</td>
			<td>17/10/2012 06:45h</td>
			<td class="tar">163</td>
			<td class="tar">736,0</td>
			<td title="Foram apreendidos [38 m3] de MADEIRA], no veículo [Volvo FH 12] placa [AFI-7020/SP] e preso seu condutor [MARCOS ANTONIO TANGANELI 47 anos], CPF 056825198-92, pelo transporte irregular. Ocorrência encaminhada à Delegacia de Policia Civil de Coxim. Após fuga da balança do DNIT, que acusou 70.130Kg para um bitrem que possui o limite regulamentar de 57.000 Kg de PBTC, constatamos o excesso de 13.000 Kg. Verificamos que somente a carga de madeira serrada da especie GARAPEIRA pesava 50.000 Kg, incompatível para a quantidade declarada na NF de 35m3 de madeira.(50.000 Kg/1250 Kg(peso por m3):40 m3 de madeira serrada embarcada."><a href="/bops/5219">Consultar</a></td>
		</tr>
		<tr>
			<td>277374</td>
			<td>14/10/2012 10:00h</td>
			<td class="tar">163</td>
			<td class="tar">0,0</td>
			<td title="Foi recuperado o veículo VW/GOL, placa IBH-7482, por constar ocorrência de furto - conforme BO: 1597/2012 da Polícia Civil de Mundo Novo/MS. 
			Veiculo encontrava-se abandonado numa vicinal, proximo do rio Viti Cuê - estrada do Jatinho.
			Ocorrência encaminhada à Delegacia de Policia Civil de Mundo Novo/MS.."><a href="/bops/5206">Consultar</a></td>
		</tr>
		<tr>
			<td>277355</td>
			<td>13/10/2012 23:00h</td>
			<td class="tar">163</td>
			<td class="tar">122,0</td>
			<td title="em fiscalização de rotina na br 163, km 122 foi abordado e fiscalizado o veículo acima, que no momento era conduzido por Osmar Fernandes Borim, CPF: 075.035.418-65, dizendo proprietario e possuidor do veículo, que após checagem no sistema serpro, foi verificado que consta restrição judicial contra a circulação de tal veículo, junto ao tribunal TRT15 Orgão VT Dracen, proc. 5542020125150050, com data de inclusão em 10/09/2012, sendo então retido para as devidas providencias."><a href="/bops/5221">Consultar</a></td>
		</tr>
		<tr>
			<td>278881</td>
			<td>13/10/2012 18:50h</td>
			<td class="tar">463</td>
			<td class="tar">68,0</td>
			<td title="Foram apreendidos 18 pneus de caminhão de origem estrangeira, sem desembaraço aduaneiro, no veículo Scania T114, placas AIA-3818a, atrelado ao reboque AIA-4999, conduzido por Felintro Miranda da Rocha, CPF 514.824.959-53. Mercadoria encaminhada à Delegacia da Receita Federal em Ponta Porã-MS."><a href="/bops/5203">Consultar</a></td>
		</tr>
		<tr>
			<td>236718</td>
			<td>13/10/2012 18:00h</td>
			<td class="tar">262</td>
			<td class="tar">481,0</td>
			<td title="Foram apreendidas 4.180 gramas (quatro mil cento e oitenta gramas) de Maconha, no veículo Yamaha/XTZ, placa , NRG-4214/MS e preso Roberto Gamarra Sales, 23 anos, RG 1884126 SSP/MS, Auxiliar de Serviços Gerais, pela posse do entorpecente. Ocorrência encaminhada à Delegacia de Polícia Civil em Anastácio."><a href="/bops/5202">Consultar</a></td>
		</tr>
		<tr>
			<td>277563</td>
			<td>13/10/2012 14:00h</td>
			<td class="tar">163</td>
			<td class="tar">532,0</td>
			<td title="Foram apreendidos 48 UNIDADES DE ELETRÔNICOS E 4 UNIDADES DE OUTROS no veículo VW SANTANA PLACAS LXS-7679/MT.Mercadoria encaminhada à Delegacia da Receita Federal em CAMPO GRANDE, MS."><a href="/bops/5201">Consultar</a></td>
		</tr>
		<tr>
			<td>278028</td>
			<td>13/10/2012 10:00h</td>
			<td class="tar">262</td>
			<td class="tar">59,0</td>
			<td title="Por volta das 10h00min equipe PRF acionada para atendimento de saída de pista com vítima grave, no km 59 da BR262/MS. Ao chegar no local foi constatado que o veículo envolvido no acidente era o FIAT/PALIO, placas DSH-5118/MS, que era conduzido pelo nacional JOSE ANTONIO ALVES DE SOUZA, 38 anos, CPF nº 095.600.728-70, vulgo “NEGÃO”, tendo como passageiros os nacionais JOSE ALVES DO OURO FILHO, 26 anos, CPF nº 005.251.431-57, vulgo “BAIANO”, MAIKON VALDECIR ALFENES DOS SANTOS, 21 anos e MAIARA TRIVELONI, 19 anos, sendo que estes apresentaram certo nervosismo com a chegada dos policiais. No momento em que os PRF´s realizavam a sinalização do local para o atendimento das vítimas pela equipe do Corpo de Bombeiros, usuários da rodovia que passavam pelo local, informaram que logo após o acidente  observaram que um dos envolvidos pegara uma mochila e atravessara a pista, escondendo-a, porém não souberam informar a localização da referida mochila. 
			Após socorro das vítimas e encaminhamento de todos os passageiros do veículo para o Hospital Nossa Senhora Auxiliadora, em Três Lagoas/MS, pelos Bombeiros, o Sr. JOSE ANTONIO ALVES DE SOUZA, que era o condutor no momento do acidente, foi questionado sobre o conteúdo da mochila e quem teria escondido a mesma, ele informou que não sabia o conteúdo, porém relatou que quem escondeu a mochila foi o “BAIANO”. Assim sendo uma equipe PRF deslocou ao Hospital e outra permaneceu no local e iniciou as buscas nas proximidades do acidente. No Hospital os PRF´s realizaram entrevista a Sra. MAIARA TRIVELONI, sobre o conteúdo da mochila, momento este que ela relatou aos policiais que teria ido ao município de CORUMBÁ/MS, na companhia dos demais ocupantes do veículo, onde “BAIANO” adquiriu uma certa quantidade de entorpecentes, que acreditava ser cocaína, porém não sabe precisar a quantidade, e então camuflaram o entorpecente em suas veste, simulando uma barriga característica gestantes e que receberia a quantia de R$ 2.000,00 pelo transporte. Informou, ainda logo após o acidente seu namorado “MAIKON” retirou tal substância de suas vestes, passando os tabletes para “BAIANO”. Fatos estes confirmados pelo Sr. MAIKON VALDECIR ALFENES DOS SANTOS durante entrevista realizadas pelos mesmos policiais. Já o Sr. JOSE ALVES DO OURO FILHO, mesmo  após confrontado com as versões do demais ocupantes do veículo, negou a existência de qualquer tipo de entorpecente. As informações obtidas foram repassadas ao policiais que estavam no local do acidente e estes, em poder dessas informações, confrontaram a versão inicial do Sr. JOSE ANTONIO ALVES DE SOUZA, momento que este confessou que sabia da existência dos entorpecentes, que foi contratado por “BAIANO” para dirigir o veículo do município de PENÁPOLIS/SP  até o município de CORUMBÁ/MS, bem como dirigir durante o retorno a PENÁPOLIS/SP, e que receberia a quantia de R$ 2.000,00 pelo serviço.
			Em virtude da grande extensão da área de busca, foi acionado equipe do GOC (Grupo de Operações com Cães), que chegando ao local iniciou de imediato as buscas pelo entorpecente. Após algumas horas foi localizado pelo cão K9 FOX 05 (cinco) tabletes envoltos em fita crepe e fita isolante, contendo substâncias análogas a cocaína e crack, que estavam camuflados embaixo de gravetos e folhas secas.
			Diante dos fatos o entorpecente, bem como todos os envolvidos foram encaminhados para a Delegacia de Polícia Civil do Município de Três Lagoas/MS, onde foi realizado Laudo Pericial que constatou que os entorpecentes eram compostos por 803,4gr de cocaína e 1.347gr de crack, para as providência cabíveis, com exceção da Sra. MAIARA TRIVELONI, que permaneceu internada no Hospital Nossa Senhora Auxiliadora, com escolta da Polícia Militar."><a href="/bops/5204">Consultar</a></td>
		</tr>
		<tr>
			<td>277220</td>
			<td>12/10/2012 23:00h</td>
			<td class="tar">163</td>
			<td class="tar">324,0</td>
			<td title="Foi preso JOSÉ APARECIDO FERREIRA, 32 anos, RG:1379533/SSP-MS CPF:012.554.801-06 CNH Nº:04074410580/MS, condutor do veículo FIAT/UNO CS placa: HQL-3463/MS, por cometer o crime de Trânsito (ART 306 CTB] da Lei 9503/97. Ocorrência encaminhada à Delegacia de POLÍCIA CIVIL em RIO BRILHANTE/MS."><a href="/bops/5210">Consultar</a></td>
		</tr>
		<tr>
			<td>278411</td>
			<td>12/10/2012 20:50h</td>
			<td class="tar">262</td>
			<td class="tar">13,0</td>
			<td title="Foi preso João Fernandes de Sousa, 38 anos, RG/CPF/CNH 470.062.503-15, condutor do veículo Imp/Fiat Premio CSL, placa HRD7078/MS, por cometer o crime de dirigir sob influência de álcool. Ocorrência encaminhada à Delegacia de Pronto Atendimento ao Cidadão em Três Lagoas/MS."><a href="/bops/5200">Consultar</a></td>
		</tr>
		<tr>
			<td>205114</td>
			<td>12/10/2012 18:35h</td>
			<td class="tar">158</td>
			<td class="tar">98,0</td>
			<td title="Foi preso Osmar Candido da Silva, 35 anos, CPF 831.142.381-49, condutor do veículo Honda/CG Titan, placa DCT-4878, por apresentar CNH espelho nº 319593625, com suspeita de inautenticidade. Ocorrência encaminhada à Delegacia de Policia Civil em Paranaíba/MS."><a href="/bops/5198">Consultar</a></td>
		</tr>
	</tbody>
</table>
