<div class="row clearfix">
	<div class="col_12">
		<div class="widget clearfix">
			<h2>Abertura</h2>
			<div class="widget_inside">
				<h3 class="margin_bottom_15">Abertura da Parte Diária</h3>
			</div>
		</div>   
	</div>
</div>
