<div class="row clearfix">
	<div class="col_12 last">
		<div class="widget clearfix">
			<h2>Mensagem 1</h2>
			<div class="widget_inside">
				<div class="form">
					<div class="clearfix">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="clearfix grey-highlight">
						<div class="input no-label">
							<input class="button blue" value="Arquivar" type="submit">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row clearfix">
	<div class="col_12 last">
		<div class="widget clearfix">
			<h2>Mensagem 2</h2>
			<div class="widget_inside">
				<div class="form">
					<div class="clearfix">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="clearfix grey-highlight">
						<div class="input no-label">
							<input class="button blue" value="Arquivar" type="submit">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row clearfix">
	<div class="col_12 last">
		<div class="widget clearfix">
			<h2>Mensagem 3</h2>
			<div class="widget_inside">
				<div class="form">
					<div class="clearfix">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="clearfix grey-highlight">
						<div class="input no-label">
							<input class="button blue" value="Arquivar" type="submit">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

